html,body{
    height:100%;
    width: 100%;
    margin: 0px;
    background: dimgray;
}

.base-div{
    height:100vh;
    padding: 4px 16px 2px 16px;
}

.container-row{
    height: 100%;
}

.full-vh-cols{
    /*border: 1px dashed white;*/
}

.title-stat-map-row{
    height: 56%;
}

.title-row{
    /*border: 1px dashed white;*/
    height: 40%;
}

.key-stat-row{
    /*border: 1px dashed white;*/
    height: 60%;
}

.stat-col{
    /*border: 1px dashed white;*/
}

.substat-row{
    /*border: 1px dashed white;*/
    height: 50%;
}

.drop-down-row{
    /*border: 1px dashed white;*/
    height: 16%;
}

.map-col{
    /*border: 1px dashed white;*/
    padding: 2px;
    height: 100%;
}

.keystat-row{
    /*border: 1px dashed white;*/
    height: 100%;
}

.top-left-pane{
    /*border: 1px dashed white;*/
    height: 34%;
}

.speed-plot,.count-plot,.time-plot{
    /*border: 1px dashed white;*/
    height: 22%;
}

.historic-plot{
    /*border: 1px dashed white;*/
    height: 44%;
}

.graphs{
    height: 100%;
    width: 100%;
}
#table{
    color: lightgray;
}

.card{
    width: 100%;
    margin: 4px;
    overflow-y: hidden;
    border-radius: 0;
}

.wrap-div{
    height: 100%;
    margin: 0;
}

.pbar{
    background: #00a99d;
}

#drop-1 .Select-control{
    background-color: #303030 !important;
    border: 0px !important;
    width: 50%;
    height: 25%;
}

#drop-1 .Select-value-label{
    color: #00a99d !important;;
}

#drop-1 .Select-menu-outer {
    background-color: #303030;
    width: 50%;
    color: #00a99d;
    border: 0px !important;
    text-align: center;
    overflow-y: hidden !important;
}

#drop-2 .Select-control{
    background-color: #303030 !important;
    border: 0px !important;
    width: 50%;
}

#drop-2 .Select-value-label{
    color: #DEA916 !important;;
}

#drop-2 .Select-menu-outer {
    background-color: #303030;
    width: 50%;
    color: #DEA916;
}

.rc-slider-handle{
    border: solid 2px #333;
    background-color: white;
    height: 14px;
    width: 14px;
}

.rc-slider-track {
    background-color: lightgray;
}

.rc-slider-rail{
    background-color: #474747;
}

/*.Select-value{*/
/*    !*background-color:#303030;*!*/
/*    !*color:white !important;*!*/
/*    border: 1px solid red;*/
/*    width: 50%;*/
/*}*/

/*.control-panel-dropdown{*/
/*    border:1px solid blue;*/
/*    width: 50%;*/
/*}*/

